body {
  overflow: hidden; /* Hide scrollbars */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.signup-form {
  max-width: 400px;
  padding: 20px; 
  border-radius: 5px;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
}


.signup-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 30px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 3px;
}
.phone-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}





.signup-form input:not([type="tel"]),
.signup-form button {
  width: 100%;
}


.submitbuton{
  display: block !important; 
  width: 100% !important;
  padding: 10px !important;
  background-color: #000000 !important; 
  color: #ffffff !important;
  border: none !important;
  border-radius: 3px !important;
  cursor: pointer !important;
}

/* .signup-form button:hover {
  background-color: #333333;
} */

.signup-form a {
  text-decoration: none; 
  color: #ffffff; 
}

.signup-form a:hover {
  text-decoration: underline;
}
